<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/reset.css' />
    <link rel='stylesheet' href='/stylesheets/advcard.css' />

</head>

<body>
    <header class="header" id="header">

        <h1><a href="http://127.0.0.1:3000/anuncios">NODEPOP</a></h1>
        <h2>
            <%= title %> disponibles
        </h2>
    </header>

    <main class="tags-list">

        <% for (let i=0; i<anunciosTags.length; i++) { %>
            <ul>
                <li class="tags-links">
                    <a href="http://localhost:3000/api/anuncios?tags=<%=`${anunciosTags[i]}`%>">
                        <%= anunciosTags[i] %>
                    </a>
                </li>
            </ul>
            <% } %>
    </main>
</body>

</html>